// Main
#main {
  // Serving
  #serving {
    h2 {
      font-size: 3rem;
    }
    .wrapper {
      cursor: pointer;
      .image {
        position: relative;
        border-bottom: 0.4rem solid $background-color;
        img {
          transition: transform 0.5s;
        }
      }
      &:hover {
        & img {
          transform: scale(1.1);
        }
      }
    }
    @include for-x-large-devices {
      h2 {
        font-size: 2rem;
      }
    }
  }
  // About
  #about {
    h2 {
      font-size: 2.5rem;
    }
    @include for-small-devices {
      h2 {
        font-size: 2rem !important;
      }
    }
  }
  // Joy
  #joy {
    background-image: url("../images/section-bg1.jpg.webp");
    @extend %background-image;
    span {
      font-size: 2.5rem;
    }
  }
  // For
  #for {
    h2 {
      font-size: 3rem;
    }
    i {
      color: $primary-color;
    }
    @include for-medium-devices {
      h2 {
        font-size: 2.5rem;
      }
    }
    @include for-small-devices {
      h2 {
        font-size: 2rem;
      }
    }
  }
  #blog {
    background-image: url("../images/section-bg2.jpg.webp");
    position: relative;
    z-index: 1;
    .wrapper {
      padding: 4rem 2rem;
      h2 {
        font-size: 2.5rem;
      }
    }
    @extend %background-image;
    @extend %after;
    @include for-large-devices {
      h2 {
        font-size: 2rem !important;
      }
    }
  }
  // Contact
  #contact {
    h2 {
      font-size: 2.5rem;
    }
    @include for-medium-devices {
      h2 {
        font-size: 2rem !important;
      }
    }
  }
}
