#header {
  background-image: url("../images/h1_hero1.jpg.webp");
  margin-top: 3.7rem;
  padding: 20rem 0;
  position: relative;
  z-index: 1;
  h1 {
    font-size: 4rem;
  }
  p {
    margin-bottom: 2rem;
  }
  @extend %background-image;
  @extend %after;
  @include for-x-large-devices {
    h1 {
      font-size: 3rem !important;
    }
  }
  @include for-small-devices {
    margin-top: 3.5rem;
    padding: 10rem 0;
    h1 {
      font-size: 2rem !important;
    }
  }
}
