#nav {
  padding: 1rem 0;
  background-color: $background-color;
  left: 0;
  z-index: 10;
}
@include for-small-devices {
  #nav {
    .logo {
      display: none;
    }
    ul {
      justify-content: center !important;
    }
  }
}
